In [1]:
import pandas as pd

Leetcode595

In [8]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[(world['area'] > 3000000) | (world['population'] >= 25000000)][['name','area','population']]

In [4]:
data = {
    'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'population': [25500100, 2831741, 37100000, 78115, 20609294],
    'gdp': [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}

df = pd.DataFrame(data)

df

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [9]:
big_countries(df)

          name     area  population
0  Afghanistan   652230    25500100
2      Algeria  2381741    37100000

Leetcode1757

In [10]:
data = {
    'product_id': [0, 1, 2, 3, 4],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N'],
    'recyclable': ['N', 'Y', 'Y', 'Y', 'N']
}

df = pd.DataFrame(data)
print(df)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [24]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    df = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')][['product_id']]
    return df

In [25]:
find_products(df)

   product_id
1           1
3           3

leetcode 183. Customers Who Never Order

In [2]:
# Create Customers and Orders data
customers_data = {'id': [1, 2, 3, 4], 'name': ['Joe', 'Henry', 'Sam', 'Max']}
orders_data = {'id': [1, 2], 'customerId': [3, 1]}

# Create dataframes
customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)

In [22]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(orders, customers, left_on='customerId', right_on='id', how='outer')
    df.rename(columns={'name': 'Customers'}, inplace=True)
    df = df[df['customerId'].isnull()]
    df.drop(columns=['customerId', 'id_x', 'id_y'], inplace=True)
    return df

  Customers
2     Henry
3       Max